.Person{
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 3px #cccccc;
    padding: 16px;
    text-align: center;

}

 input[type=text] {
     width: 100px;
     -webkit-transition: width .35s ease-in-out;
     transition: width .35s ease-in-out;
 }
input[type=text]:focus {
    width: 250px;
}
